{%- redirect cpUrl('typesense/collections') -%}
{#{%- requirePermission "typesense:dashboard" -%}#}

{#{%- extends 'typesense/_layouts/typesense-cp.twig' -%}#}

{#{%- set content -%}#}

{#    <h2>{{ "Index CP Section body goes here"|t('typesense') }}</h2>#}

{#    <div class="bg-teal-800 text-white hover:bg-sky-300 hover:text-black transition-all ease-in-out duration-200 text-4xl p-20">#}
{#        Tailwind + Vue test#}
{#    </div>#}

{#{%- endset -%}#}
