<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/Bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="false"
         failOnRisky="false"
         failOnWarning="false"
>
    <testsuites>
        <testsuite name="typesense">
            <directory>tests</directory>
            <exclude>tests/Bootstrap.php</exclude>
            <exclude>tests/Pest.php</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="stderr"/>
    </php>
</phpunit>
