{%- requirePermission "typesense:collections" -%}

{%- extends 'typesense/_layouts/typesense-cp.twig' -%}

{%- set tagOptions = {
    'depends': [
        'percipiolondon\\typesense\\assetbundles\\typesense\\TypesenseAsset'
    ]
} -%}

{%- set content -%}

    {{- craft.typesense.register('src/js/typesense-collections.ts', false, tagOptions ,tagOptions) -}}

    <div class="-m-6" id="typesense-collections">
        {%- if sections ?? null -%}
            {# @TODO: reintroduce {{- cpUrl() -}} when the ?default=site is off of it #}
            <grid-sections
                :sections="{{- sections|json_encode -}}"
                :api-config="{
                    csrf: {{- csrf|json_encode -}},
                    baseUrl: '/cp'
                }"
            />
        {%- else -%}

            <p class="pt-4 pl-4">There are currently no collections defined or no collections with entries. Please provide the collections in config/typesense.php</p>

        {%- endif -%}

    </div>

{%- endset -%}
